.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        /* it creates line breaks after & before them */
        font-size: 5rem;
        font-weight: 400;
        /* letter-spacing: .5rem; */
        letter-spacing: .66rem;

        animation-name: moveInTop;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;


        /* animation-delay: 3s; */
        /* animation-iteration-count: 3; */
        /* animation-timing-function: ease-in; */

        line-height: .8;

        padding: 0 2rem;

    }

    &--sub {
        display: block;
        /* font-size: .85rem; */
        font-size: 1rem;
        /* font-weight: 700; */
        font-weight: 900;
        /* letter-spacing: .7rem; */
        letter-spacing: 2.2rem;
        animation: moveInRight 1s ease-out;
    }
}